/* styles/style.css */

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

/* Header */
header {
    background-color: #f8f8f8;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.logo{
    cursor: pointer;
}

header ul {
    display: flex;
    gap: 20px;
}

header li {
    font-size: 18px;
}
.nav > li > a {
    color: black;
}
.nav > li:hover {
    color: rgb(37, 34, 34);
}

header button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    background: #f4f4f4;
    background-size: cover;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 40px;
    color: #333;
}

.hero p {
    font-size: 18px;
    margin: 20px 0;
}

.hero button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* features section */
.features {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
}

.features h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-item {
    width: 18%; 
    padding: 20px;
    text-align: center;
}

.feature-item img {
    max-width: 100%; /* لجعل الصورة تتناسب مع الحجم */
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.feature-item h3 {
    font-size: 20px;
    margin-top: 10px;
}

/* Stats Section */
.stats {
    background-color: #f1f1f1;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
}

.stat-item {
    text-align: center;
}

.stat-item h3 {
    font-size: 24px;
    color: #4caf50;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer a {
    color: #fff;
    font-size: 14px;
}

.btn-primary {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


.cardImg {
    transition: 0.4s;
}
.cardImg:hover {
    transform: scale(1.1);
}
